h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small{
  font-family: 'Montserrat', sans-serif;
}

p, .lead {
	font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #ffffff;
  text-align:left;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #231f20;
  font-weight: 700;
}

.lead {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
}

.lead img{

  height: 50px;
}

p {
  font-size: 17px;
  line-height: 22px;
  color: #929496;
  font-weight: 400;
}

/*------------------Utilities---------------------*/
a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}



.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -10%;
}

::selection {
	background: #231f20; /* Safari */
	color: #FFFFFF;
}
::-moz-selection {
	background: #231f20; /* Firefox */
	color: #FFFFFF;
}





/*-----------------Margins------------------*/
.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}


/*-----------------Colors------------------*/

.black {
  color: #231f20;
}

.blue {
  color: #70cbce;
}

.white {
  color: #ffffff;
}

.black-bg {
  background: #231f20;
}

.blue-bg {
  background: #70cbce;
}

.white-bg {
  background: #ffffff;
}

.purple-bg {
	background: #6d3f96;
}



/* ==========================================================================
   Nav Styles
   ========================================================================== */

   .navbar {
       border: 0px solid rgba(0, 0, 0, 0);
       margin: auto;
       min-height: 60px;
       padding-top: 8px;
       position: fixed;
      background-color: transparent;
      background: transparent;
      border-color: transparent;

   }


   .navbar-inverse .navbar-nav > li > a, .navbar-nav a {
       font-size: 14px;
       letter-spacing: 1px;
        color: white !important;
   }

   .navbar-nav a{
     text-decoration: none;
   }

   .navbar-inverse .navbar-nav > li > a:hover {
       color: #ffffff;
       opacity: 0.6;
       text-decoration: none;
   }

   .navbar-preheader .navbar-toggle:hover .icon-bar {
       background-color:#8019f0;
   }
   .nav > li > a {
       position: relative;
       display: block;
       padding: 10px 10px;
   }

   .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
       border-color: #4ec3cd;
   }

   .navbar-inverse .navbar-toggle {
       border-color: transparent;
   }

   #ally{

   border: 1px solid white;

   }
#navlogo{

  height: 50px;
  visibility: hidden;
}

/* ==========================================================================
   Main styles
   ========================================================================== */
header {
  background: url(../img/header-bg.jpg) no-repeat center center;
  width: 100%;
  padding: 20px 10px 60px 10px;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: 0px;
  margin-bottom: 12%;
}

.signin {
  padding-top: 9px;
}


#be-the-first {
  background: url(../img/be-the-first-bg.jpg) #231f20 no-repeat center center fixed;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr.line {
	width: 100%;
	border: 2px solid;
}

.purple {
	border-color: #6d3f96;
	color: #6d3f96;
}

.blue {
	border-color: #70cbce;
	color: #70cbce
}

.yellow {
	border-color: #fdc05d;
	color: #fdc05d;
}

footer {
  background: #ffffff;
  padding: 40px 0px;
}

.social li a:hover {
  opacity: 0.5;
}

/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) {

.btn-lg {
  font-size: 12.5px;
  line-height: 1.33;
  padding: 16px 13px;
  letter-spacing: 0px;
}

.collapsing, .in {background-color: white;}
.collapsing ul li a, .in ul li a {color: black!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #8019f0!important;}


.btn-wide {
  width: 100%;
  font-size: 12.5px;
  line-height: 1.33;
  padding: 16px 13px;
  letter-spacing: 0px;
}

#be-the-first {
      background-attachment: scroll;
  }

}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {

  .collapsing, .in {background-color: white;}
  .collapsing ul li a, .in ul li a {color: black!important;}
  .collapsing ul li a:hover, .in ul li a:hover {color: #8019f0!important;}

#be-the-first {
      background-attachment: scroll;
  }

}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

#be-the-first {
      background-attachment: scroll;
  }

}



/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}



/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}
